# Virtual environment
myenv/
.venv/

# Compiled Python files
__pycache__/
*.py[cod]

# Environment variables
api.env

# Logs
*.log

# Cache files
/jupyter/.ipynb_checkpoints/

# Distribution / Packaging
dist/
build/
flow4ai.egg-info/


# IDE-specific files
.vscode/
.idea/
.obsidian/


# Test coverage reports
htmlcov/
.tox/
.nox/

# macOS-specific files
.DS_Store

# temporary files
temp/
dev_resources/import_report.txt
dev_resources/requirements_extracted.txt
digest.txt
dev_resources/temp.json
temp.txt
.env
test_results.txt
examples/integrations/parallel_rag/openAIratelimits.txt
