# Virtual environment
myenv/
.venv/

# Compiled Python files
__pycache__/
*.py[cod]

# Environment variables
api.env

# Logs
*.log

# Cache files
/jupyter/.ipynb_checkpoints/

# Distribution / Packaging
dist/
build/
jobchain.egg-info/


# IDE-specific files
.vscode/
.idea/


# Test coverage reports
htmlcov/
.tox/
.nox/

# macOS-specific files
.DS_Store

# temporary files
temp/
